/* line 5, ../sass/overlay.scss */
.wp-fullscreen-active #fullscreen-topbar {
  background: #404040;
  border-bottom-color: #4d4d4d;
}
/* line 9, ../sass/overlay.scss */
.wp-fullscreen-active .mce-toolbar .mce-ico {
  color: #888888;
}
/* line 12, ../sass/overlay.scss */
.wp-fullscreen-active #wp-fullscreen-buttons .mce-btn:focus, .wp-fullscreen-active #wp-fullscreen-buttons .mce-btn:hover, .wp-fullscreen-active .mce-toolbar .mce-btn-group .mce-btn:focus, .wp-fullscreen-active .mce-toolbar .mce-btn-group .mce-btn:hover, .wp-fullscreen-active .qt-fullscreen:focus, .wp-fullscreen-active .qt-fullscreen:hover {
  background: #333333;
  border-color: #666666;
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.08);
}
/* line 17, ../sass/overlay.scss */
.wp-fullscreen-active .fullscreen-overlay {
  background: #333333;
}
/* line 20, ../sass/overlay.scss */
.wp-fullscreen-active input[type=text] {
  color: #eeeeee;
}

/* line 24, ../sass/overlay.scss */
.wp-fullscreen-active.wp-dfw-show-ui .wp-editor-container, .wp-fullscreen-active.wp-dfw-show-ui .wp-fullscreen-title {
  border-color: #595959 !important;
}
